<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>系统管理</title>
  <!-- Bootstrap -->
  <link href="../../public/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../public/css/mangePage.css">
</head>
<body style="text-align: center">
	<div id="wrapper">

        <!-- Sidebar -->
        <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
            <ul class="nav sidebar-nav" id="Ul">
                <li class="sidebar-brand">
                    <a href="#">
                       安美商城后台管理
                    </a>
                </li>
                <li class="current">
                    <a href="#">用户管理</a>
                </li>

                <li >
                    <a href="#">分类管理</a>
                </li>
                <li>
                    <a href="#">商品管理</a>
                </li>

                <li>
                    <a href="#">订单管理</a>
                </li>
            </ul>
        </nav>
        <!-- Page Content -->
        <div id="page-content-wrapper">
          <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
          </button>
            <div class="showIt" >
            <h2 class="title text-center">用户管理</h2>
            <img src="../../public/img/bg2.jpg" class="headPic img-circle" alt="headPic">
            <div class="page-content container">
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <form action="" class="add-form col-lg-6 col-lg-offset-3">
                            <input type="text" placeholder="输入用户名称" class="col-lg-9">
                            <span class="col-lg-1"></span>
                            <input type="button" value="搜索" class="col-lg-2 btn btn-primary" id = findUser >
                        </form>
                        <br>
                        <br>
                        <div class="data-table col-lg-10 col-lg-offset-1">
                            <table class="table table-hover table-bordered">
                                <tr>
                                    <th>用户ID</th>
                                    <th>姓名</th>
                                    <th>性别</th>
                                    <th>年龄</th>
                                    <th>电话</th>
                                    <th>地址</th>
                                    <th>删除</th>
                                    <th>编辑</th>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>小红</td>
                                    <td>女</td>
                                    <td>18</td>
                                    <td>18720902342</td>
                                    <td>陕西安康</td>
                                    <td> <a href="#">删除</a> </td>
                                    <td> <a href="#">编辑</a> </td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>小明</td>
                                    <td>男</td>
                                    <td>20</td>
                                    <td>13992340098</td>
                                    <td>陕西西安</td>
                                    <td> <a href="#">删除</a> </td>
                                    <td> <a href="#">编辑</a> </td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>花花</td>
                                    <td>女</td>
                                    <td>21</td>
                                    <td>15023427790</td>
                                    <td>陕西宝鸡</td>
                                    <td> <a href="#">删除</a> </td>
                                    <td> <a href="#">编辑</a> </td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>小朱</td>
                                    <td>男</td>
                                    <td>23</td>
                                    <td>13723239987</td>
                                    <td>陕西汉中</td>
                                    <td> <a href="#">删除</a> </td>
                                    <td> <a href="#">编辑</a> </td>
                                </tr>
                            </table>
                            <input type="button" value="添加用户" class="col-lg-2 btn btn-primary">
                        </div>
                        <!--ejs here-->

                        <!--ejs here-->

                    </div>

                </div>
            </div>
        </div>
            <div class="showIt" style="display: none">
                <h2 class="title text-center">分类管理</h2>
                <img src="../../public/img/bg2.jpg" class="headPic img-circle" alt="headPic">
                <div class="page-content container">
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1">
                            <form action="" class="add-form col-lg-6 col-lg-offset-3">
                                <input type="text" placeholder="输入分类名称" class="col-lg-9">
                                <span class="col-lg-1"></span>
                                <input type="button" value="搜索" class="col-lg-2 btn btn-primary">
                            </form>
                            <br>
                            <br>
                            <div class="data-table col-lg-10 col-lg-offset-1">
                                <table class="table table-hover table-bordered">
                                    <tr>
                                        <th>分类ID</th>
                                        <th>分类名称</th>
                                        <th>删除</th>
                                        <th>编辑</th>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>手机数码</td>
                                        <td> <a href="#">删除</a> </td>
                                        <td> <a href="#">编辑</a> </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>运动户外</td>
                                        <td> <a href="#">删除</a> </td>
                                        <td> <a href="#">编辑</a> </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>电脑用品</td>
                                        <td> <a href="#">删除</a> </td>
                                        <td> <a href="#">编辑</a> </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>家装家具</td>
                                        <td> <a href="#">删除</a> </td>
                                        <td> <a href="#">编辑</a> </td>
                                    </tr>
                                </table>
                            </div>
                            <!--ejs here-->

                            <!--ejs here-->

            </div>

                    </div>
                </div>
            </div>
            <div class="showIt" style="display: none">
                <h2 class="title text-center">商品管理</h2>
                <img src="../../public/img/bg2.jpg" class="headPic img-circle" alt="headPic">
                <div class="page-content container">
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1">
                            <form action="" class="add-form col-lg-6 col-lg-offset-3">
                                <input type="text" placeholder="输入商品名称" class="col-lg-9">
                                <span class="col-lg-1"></span>
                                <input type="button" value="搜索" class="col-lg-2 btn btn-primary">
                            </form>
                            <br>
                            <br>
                            <div class="data-table col-lg-10 col-lg-offset-1">
                                <table class="table table-hover table-bordered">
                                    <tr>
                                        <th>商品ID</th>
                                        <th>分类ID</th>
                                        <th>商品名称</th>
                                        <th>分类名称</th>
                                        <th>颜色</th>
                                        <th>尺寸</th>
                                        <th>原价</th>
                                        <th>现价</th>
                                        <th>销量</th>
                                        <th>库存</th>
                                        <th>状态</th>
                                        <th>删除</th>
                                        <th>编辑</th>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>１</td>
                                        <td>新款棉袄</td>
                                        <td>上衣</td>
                                        <td>白色,灰色</td>
                                        <td> S M L</td>
                                        <td>45</td>
                                        <td>37</td>
                                        <td>200</td>
                                        <td>800</td>
                                        <td>1</td>
                                        <td> <a href="#">删除</a> </td>
                                        <td> <a href="#">编辑</a> </td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>2</td>
                                        <td>阔腿裤</td>
                                        <td>裤子</td>
                                        <td>白色,黑色</td>
                                        <td>L</td>
                                        <td>65</td>
                                        <td>47</td>
                                        <td>300</td>
                                        <td>600</td>
                                        <td>1</td>
                                        <td> <a href="#">删除</a> </td>
                                        <td> <a href="#">编辑</a> </td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>1</td>
                                        <td>潮牌</td>
                                        <td>裤子</td>
                                        <td>黑色</td>
                                        <td>均码</td>
                                        <td>111</td>
                                        <td>99</td>
                                        <td>100</td>
                                        <td>1000</td>
                                        <td>0</td>
                                        <td> <a href="#">删除</a> </td>
                                        <td> <a href="#">编辑</a> </td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>1</td>
                                        <td>毛毛服</td>
                                        <td>上衣</td>
                                        <td>白色</td>
                                        <td>均码</td>
                                        <td>122</td>
                                        <td>111</td>
                                        <td>100</td>
                                        <td>300</td>
                                        <td>1</td>
                                        <td> <a href="#">删除</a> </td>
                                        <td> <a href="#">编辑</a> </td>
                                    </tr>
                                </table>
                                <input type="button" value="添加商品" class="col-lg-2 btn btn-primary">

                            </div>
                            <!--ejs here-->

                            <!--ejs here-->

                        </div>

                    </div>
                </div>
            </div>
            <div class="showIt" style="display: none" >
                <h2 class="title text-center">订单管理</h2>
                <img src="../../public/img/bg2.jpg" class="headPic img-circle" alt="headPic">
                <div class="page-content container">
                    <div class="row">
                        <div class="col-lg-10 col-lg-offset-1">
                            <form action="" class="add-form col-lg-6 col-lg-offset-3">
                                <input type="text" placeholder="输入订单号" class="col-lg-9">
                                <span class="col-lg-1"></span>
                                <input type="button" value="搜索" class="col-lg-2 btn btn-primary">
                            </form>
                            <br>
                            <br>
                            <div class="data-table col-lg-10 col-lg-offset-1">
                                <table class="table table-hover table-bordered">
                                    <tr>
                                        <th>订单ID</th>
                                        <th>商品ID</th>
                                        <th>订单号</th>
                                        <th>订单时间</th>
                                        <th>物品数量</th>
                                        <th>总金额</th>
                                        <th>订单状态</th>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>0021-3890</td>
                                        <td>2018-11-11 19:00:00</td>
                                        <td>2</td>
                                        <td>180</td>
                                        <td>1</td>

                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>1</td>
                                        <td>0011-4452</td>
                                        <td>2018-11-11 10:10:06</td>
                                        <td>2</td>
                                        <td>100</td>
                                        <td>0</td>

                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>2</td>
                                        <td>1102-1135</td>
                                        <td>2018-11-12 12:13:29</td>
                                        <td>2</td>
                                        <td>59.9</td>
                                        <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>1</td>
                                        <td>2214-9953</td>
                                        <td>2018-12-02 14:13:29</td>
                                        <td>3</td>
                                        <td>159</td>
                                        <td>0</td>
                                    </tr>
                                </table>
                            </div>
                            <!--ejs here-->

                            <!--ejs here-->

                        </div>

                    </div>
                </div>
            </div>
            <div id="showPage">
                <a href="#1" class="page act" >首页</a>
                <a href="" class="page">上一页</a>
                <a href="#1">1</a>
                <a href="#2">2</a>
                <a href="#3">3</a>
                <a href=""class="page">下一页</a>
                <a href="" class="page">末页</a>
            </div>
        </div>
    </div>

  <!--jquery & bootstrap-->
  <script src="../../public/jquery/jquery-3.3.1.min.js"></script>
  <script src="../../public/bootstrap/js/bootstrap.min.js"></script>
  <script src="../../public/js/mange_sideBar.js"></script>
</body>
</html>
